<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Clock</title>
    <form action="/main/clock" method="post">
</head>
<style>
</style>
<body>

<div class="clock">
    
</div>

<form id="countryForm">
    <select id="countrySelect" required>
        <option value="" disabled selected>Select a country</option>
      
    </select>
    <button type="submit">Show Time</button>
</form>

<script src="../public/js/script.js"></script>

</body>
</html>
