<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="container">
        <a href="/admin/countries" class="button">View All Countries</a>
        <a href="/admin/countries/add" class="button">Add Country</a>
        <a href="/admin/dashboard" class="button">Dashboard</a>
 
    </div>

    <footer style="position: fixed; bottom: 0; right: 0; padding: 10px;">
        <p>© Rakhat Ospanov, SE-2201</p>
    </footer>
</body>
</html>
