<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../public/css/admin.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul li a {
    color: red;
    text-decoration: none;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

input[type="text"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="container">
        <a href="/admin/countries" class="button">View All Countries</a>
        <a href="/admin/countries/add" class="button">Add Country</a>
        <a href="/admin/dashboard" class="button">Dashboard</a>
 
    </div>

    <footer style="position: fixed; bottom: 0; right: 0; padding: 10px;">
        <p>© Rakhat Ospanov, SE-2201</p>
    </footer>
</body>
</html>
