<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>
<body>

<section class="dashboard">
    <h1 class="dashboard__title">Welcome, Bro!</h1>
    <div class="dashboard__buttons">
        <button onclick="location.href='/'" class="btn btn--logout">Logout</button>
        <button onclick="location.href='/main/news'" class="btn btn--news">Go to News Section</button>
        <button onclick="location.href='/main/time-zone'" class="btn btn--maps">Go to Time Zone Section</button>
    </div>
</section>
</body>
<footer style="position: fixed; bottom: 0; right: 0; padding: 10px;">
    <p>© Rakhat Ospanov, SE-2201</p>
</footer>
</html>
