<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Our Site!</h1>
    <div class="buttons">
        <a href="./auth/login" class="btn">Login</a>
        <a href="./auth/register" class="btn">Register</a>
    </div>
</div>
</body>
<footer style="position: fixed; bottom: 0; right: 0; padding: 10px;">
    <p>© Rakhat Ospanov, SE-2201</p>
</footer>
</html>
