body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    margin-bottom: 8px;
}

input {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px; /* Ширина кнопки */
    font-size: 16px;
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

button:hover {
    background-color: #2980b9; /* Цвет при наведении курсора */
}

label {
    color: white; /* Цвет текста label - белый */
    margin-bottom: 8px;
}

.error {
    color: red;
    margin-top: 16px;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}